# SQL Server Database Configuration
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=ReConan;encrypt=true;trustServerCertificate=true;
DB_USER=your_username
DB_PASSWORD=your_password

# OSINT API Keys